# Игнорируем файлы окружения
.env
.env.local

# Игнорируем кэш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорируем временные файлы
*.tmp
*.temp

# Игнорируем настройки редакторов
.vscode/
.idea/
*.swp
*.swo